.main-content {
    width: 90%; /* Adjust this value accordingly */
    max-width: 1200px; /* Optionally, set a maximum width to ensure it doesn't get too wide */
    margin: 0 auto; /* Centers the content horizontally */
}
.inner{
positon: relative;
max-width:1200 px;
padding: 20px 10px;
margin: 0 auto;
}
